@import 'tailwindcss';
@import './theme.css';

@plugin '@tailwindcss/typography';

/* https://daisyui.com/docs/config/ */
@plugin 'daisyui' {
  exclude: rootcolor;
}

@layer base {
  html,
  body {
    @apply font-sans bg-base-100 text-base-content;
    @apply antialiased md:subpixel-antialiased;
    @apply select-none;
    @apply ring-primary;
  }

  a {
    @apply text-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .prose,
  a,
  li,
  p {
    @apply select-text;
  }

  .noise {
    @apply absolute inset-0 z-1 pointer-events-none;
  }

  .noise:after {
    background-image: var(--fx-noise);
    background-repeat: repeat;
    background-size: 100px 100px;
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .doc-code-pre {
    @apply bg-base-200! dark:bg-base-muted-superlight!;
  }

  :is(
      [data-theme='mdex-dark'],
      [data-theme='dark'],
      [data-theme='synthwave'],
      [data-theme='halloween'],
      [data-theme='forest'],
      [data-theme='aqua'],
      [data-theme='black'],
      [data-theme='luxury'],
      [data-theme='dracula'],
      [data-theme='business'],
      [data-theme='night'],
      [data-theme='coffee'],
      [data-theme='dim'],
      [data-theme='sunset'],
      [data-theme='abyss']
    )
    .shiki {
    color: var(--shiki-dark) !important;
  }

  :is(
      [data-theme='mdex-dark'],
      [data-theme='dark'],
      [data-theme='synthwave'],
      [data-theme='halloween'],
      [data-theme='forest'],
      [data-theme='aqua'],
      [data-theme='black'],
      [data-theme='luxury'],
      [data-theme='dracula'],
      [data-theme='business'],
      [data-theme='night'],
      [data-theme='coffee'],
      [data-theme='dim'],
      [data-theme='sunset'],
      [data-theme='abyss']
    )
    .shiki
    span {
    color: var(--shiki-dark) !important;
  }
}
