@import 'tailwindcss';
@import './theme.css';

@plugin '@tailwindcss/typography';

/* https://daisyui.com/docs/config/ */
@plugin 'daisyui' {
  exclude: rootcolor;
}

@layer base {
  html,
  body {
    @apply font-sans bg-base-300 text-base-content;
    @apply antialiased md:subpixel-antialiased;
    @apply select-none;
    @apply ring-primary;
  }

  code {
    @apply bg-base-200;
  }

  a {
    @apply text-accent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .prose,
  a,
  li,
  p {
    @apply select-text;
  }

  .prose pre {
    @apply rounded-lg border border-vike-grey leading-5!;
  }

  .prose pre code {
    background-color: transparent;
    padding: 0;
    @apply text-xs!;
  }
}
